.search-wrap{
    width: 30%;
    position: absolute;
    top: 32%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.search-bar{
    width: 100%;
    position: relative
}

.search{
    position: absolute;  
    right: -50px;
    width: 36px;
    height: 34px;
    border: 1px solid #d50057;
    background: #d50057;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
    font-size: 20px;
}

.query {
    float: left;
    width: 100%;
    border: 3px solid #d50057;
    padding: 5px;
    height: 20px;
    border-radius: 2px;
    outline: none;
    color: #9DBFAF;
  }
  
.query:focus{
    color: #1e152a;
  }

.results{
    background: none;
    text-align: center;
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%
}

.result{
    display: inline-block;
    width: 30%;
    height: 20%;
}