body{
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.logo{
    background-color: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

#signin{
    position: absolute;
    transition: transform .2s;
    top: 2%;
    right: 2%;
    height: auto;
    width: 3%;
}

#signin:hover{
    transform: scale(1.4);
}

.search-wrap{
    width: 30%;
    position: absolute;
    top: 32%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.search-bar{
    width: 100%;
    position: relative
}

.search{
    position: absolute;  
    right: -50px;
    width: 36px;
    height: 34px;
    border: 1px solid #d50057;
    background: #d50057;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
    font-size: 20px;
}

.query {
    float: left;
    width: 100%;
    border: 3px solid #d50057;
    padding: 5px;
    height: 20px;
    border-radius: 2px;
    outline: none;
    color: #9DBFAF;
  }
  
.query:focus{
    color: #1e152a;
  }

.results{
    background: none;
    text-align: center;
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%
}

.result{
    display: inline-block;
    width: 30%;
    height: 20%;
}

h1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
}

h2{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
}

h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
}

.artWork{
    border-radius: 50%;
}

.thumbnail:hover{
    box-shadow: 0 0 2px 1px #111;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: #111;

    box-shadow: 0px -3px 8px 6px #111;
}

.playback{
    text-align: center;
}

.playbackInfo
{

}

.playback #play{
    border: none;
    display: inline-block;
    transition: transform .2s;
    padding: 20px 25px 10px 25px;
    width: 40px;
    height: 40px;
}

.playback #prev{
    border: none;
    display: inline-block;
    transition: transform .2s;
    padding: 20px 25px 10px 25px;
    width: 35px;
    height: 35px;
}

.playback #next{
    border: none;
    display: inline-block;
    transition: transform .2s;
    padding: 20px 25px 10px 25px;
    width: 35px;
    height: 35px;
}

.playback #play:hover{
    transform: scale(1.4);
}

.playback #prev:hover{
    transform: scale(1.4);
}

.playback #next:hover{
    transform: scale(1.4);
}

.youtubePlayer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    width: 90%;
    bottom: 10%;    
    border: none;
}

#albumArt{
    text-indent: 100vw;
    position:relative;
    bottom:65px;
    left:20px;
    height: 4%;
    width: 4%;
    background: none;
    border: none;
}

#trackName{
    display: block;
    position:relative;
    bottom:155px;
    left:130px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
}

#albumName{
    display: block;
    position:relative;
    bottom:155px;
    left:130px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
}

#artistName{
    display: block;
    position:relative;
    bottom:155px;
    left:130px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;

    box-shadow: 3px 0px 8px 6px #111;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #818181;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    margin-left: 250px; /* Same as the width of the sidenav */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #nav-heading{
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    display: block;
  }